.index {
  .banner {
    height: 840px;
    background-image: url("./../images/banner-sm.png");
    @include bg-fuild;
    @screen md {
      background-image: url("./../images/banner.png");
    }
  }
  .product img {
    max-width: 100%;
    @screen md {
      max-width: 390px;
    }
    @screen lg {
      max-width: 635px;
    }
  }
  .co-branding {
    background-image: url("./../images/bg.png");
    @include bg-fuild;
  }
  .contact {
    input,
    textarea {
      background: transparent;
    }
  }
  .recommend {
    .card {
      height: 460px;
    }
    .card-body {
      flex-grow: 1;
    }
  }
}
